body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: helvetica, sans, arial;
}
.cabecera{
  background-color: #424242;
  color:#DEDEDE;
  height: 62px;
  position: fixed;
  top:0;
  width: 100%;
  padding: 8px;
  border-bottom:solid #666 2px;
  box-shadow: 0 0 6px #000;
  z-index: 201;
}
.cuerpo{
  background-image: url('/res/img/bg.jpg');
  background-size: cover;
  margin: 62px 0 0 0;
  height: calc(100% - 124px);
  background-color:#333;
}
.cuerpo .barra-lateral{
  display: inline-block;
  width: 240px;
  background-color: #1A1A1A;
  color: #DEDEDE;
  height: calc(100vh - 124px);  
}
.cuerpo .barra-lateral .album-view{
  display: block;
  background-color: blue;
  font-size: 0.8em;
  background-color: #000;
}
.album-view header{
  border-bottom: solid 1px #666;
  background-color: #000;
  padding:4px;
  
}
.album-view article{
  max-height: 240px;
  height: 180px;
}
.album-view aside{
  font-size: 0.9em;
  border-top: solid 1px #666;
  padding:4px;
}

.aside .opciones{
  padding: 8px;
}

.cuerpo .contenido{
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 250px);
  margin-top: 6px;
  height: calc(100vh - 140px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.music-card{
  background-color: #333;
  color: #FAFAFA;
  padding: 0;
  box-shadow: 0 0 4px #000;
  margin-bottom: 0.8em;
  font-size: 0.8em;
}
.music-card img{
  display: block;
  width: 100%;
  background-color: #000;
  margin:0;
  padding: 0;
  min-height: 120px;
}
.music-card div{
  padding: 4px;
}

.pie-de-pagina{
  background-color: #424242;
  color: #DEDEDE;
  height: 68px;
  line-height: 68px;
  vertical-align: middle;
  bottom: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 6px #000; 
}
.pie-de-pagina > div{
  display: inline-block;
  margin:0;
  padding: 0;
  height: 64px;
  vertical-align: top;
}
.pie-de-pagina .controles > button{
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #3A3A3A;
  border: solid 1px #999;
  padding: 2px;
  margin: 0px 4px;
  line-height: 46px;
  vertical-align: middle;
  box-shadow: 0 0 8px #000;
}
.pie-de-pagina .controles > button:hover{
  background-color: #000;
  border-color; #000!important;
  color: #FFF;
}
button.play{
  margin-top:-24px!important;;
  padding-top: 10px!important;;
  height: 76px!important;
  width: 76px!important;
  z-index: 200;
}
button.backward{
  margin-right: -16px!important;
  z-index: 199;
}

button.forward{
  margin-left: -16px!important;
  z-index: 199;
  position: relative!important;;
}
.controles{
  width: 240px;
}
.reproduccion{
  padding-top: 30px!important;
  width: calc(100% - 488px);
}
.reproduccion .progress{
  height: 6px;
}
.opciones{
  width: 240px;
  padding: 24px 8px 0 16px!important;
}






