<!DOCTYPE html>
<html>
<head lang="es-pe">
  <meta charset="utf-8">
  <title>ng Mu 6</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body ng-app="musixApp">
  <header class="cabecera">
    ng<strong>Mu</strong>six
    <audio id="audio" controls="controls">
      <source src="/res/music/song_2.mp3" type="audio/mp3" />
    </audio>
 
  </header>
  <div class="cuerpo" ng-controller="musicCtrl">
    <aside class="barra-lateral">
      <section class="album-view container-fluid">
        <header class="row">Reproduciendo </header>
        <article></article>
        <aside class="row">
          <div class="col-xs-8 col-sm-8"> Nombre de la Canción</div>
          <div class="col-xs-4 col-sm-4"> Tiempo</div>
          <div class="col-xs-12 col-sm-12"> Nombre del Album</div>
        </aside>
      </section>
      <ul class="nav opciones">
        <li> Toda la Musica</li>
        <li> Lista de Reproducción</li>
        <li> Toda la Musica</li>
        <li> Toda la Musica</li>
      </ul>
    </aside>
    <div class="contenido container-fluid" ng-init="init()">
      <div class="row">
        <div class="col md-3 col-sm-4 col-xs-6" ng-repeat="music in musics">
          <div class="music-card">
            <img ng-src="{{music.album.image}}" alt="img music card">
            <div>{{music.nombre}}</div>
            <div class="text-right"> 
              <button class="btn btn-xs btn-default"> <i class="fa fa-plus"> </i></button>
              <button class="btn btn-xs btn-default"> <i class="fa fa-play"> </i></button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="pie-de-pagina" ng-controller="reproductorCtrl" ng-init="load()">
    <div class="controles">
      <button class="backward" ng-click="anterior()"> <i class="fa fa-fast-backward"></i></button>
      <button class="play" ng-click="play()" ng-if="!is_playing"> <i class="fa fa-play fa-2x"></i></button>
      <button class="play" ng-click="pause()" ng-if="is_playing"> <i class="fa fa-pause fa-2x"></i></button>
      <button class="forward" ng-click="siguiente()"> <i class="fa fa-fast-forward"></i></button>
    </div>
    <div class="reproduccion">
      <div class="progress"> 
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{buffer}}" aria-valuemin="0" aria-valuemax="100" style="width: {{buffer}}%">
        </div>
      </div>
    </div>
    <div class="opciones">
      <div>
        <input type="range" min="0" max="100" value="50" ng-model="volume" />
        <i class="fa fa-volume"></i>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="/app/main.js"></script>
  <script type="text/javascript" src="/app/music.controllers.js"></script>
  <script type="text/javascript" src="/app/music.services.js"></script>

</body>
</html>